<div class="image">

<img src="/images/beer.png" alt="beer">

<div>
    <button class="check-beer"> <a  href="/beers">check the Beers</a></button>
  
</div>
<div>
    <button class="check-beer"><a href="/random-beers">check a Random Beer</a></button>  
</div>
</div>